$color-primary: #AE3257;
$color-secondary: #DEC5DF;
$color-third: #EB958A;
$color-darkgray: #6f6f6f;
$color-gray: #898989;
$color-lightgray: #cacaca;
$color-50black : rgba(0, 0, 0, 0.50);
$dark-primary: darken($color-primary, 10%);
$light-primary: lighten($color-primary, 25%);
$text-s: 20px;
$text-m: 24px;
$text-l: 28px;
$text-xl: 32px;
$text-xxl: 36px;
$text-title: 48px;